<div class="hero_area">
    <div class="bg-box">
    </div>
    <!-- Header -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand">
            <span>
              Eventfy
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['/home']"
                  fragment="events"
                >Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/home']"
                  fragment="register">Cadastrar Eventos</a>
              </li>
            </ul>
            <div class="user_option">
              <a href="" class="user_link">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
              <a class="cart_link" href="#">

              </a>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
                @if (hasUser){
                  <button  class="order_online">
                    Meu Ingressos
                  </button>
                } @else {
                  <button (click)="goToLogin()" class="order_online">
                  Sign In/Sign Up
                </button>
              }
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- /Header -->
    <!-- Slider -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Venda seu ingresso com segurança!
                    </h1>
                    <p>
                      Aqui na Eventfy, você tem uma infraestrutura robusta para venda de ingressos! Faça seu evento com o Byma e turbine o seu canal de vendas digital!
                    </p>
                    <div class="btn-box">
                      <a class="nav-link black" href="#register">
                        Comece a vender ingressos
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Slider -->
  </div>
  <!-- Events Section -->
  <section class="events_section layout_padding-bottom" id="events">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Eventos
        </h2>
      </div>
      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all jul">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Delicious jul
                  </h5>
                  <p>
                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                  </p>
                  <div class="options">
                    <h6>
                      R$30,00
                    </h6>
                    <h6>
                      19/07/2024
                    </h6>
                    <a href="">

                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <button>
          See more
        </button>
      </div>
    </div>
  </section>
  <!-- /Events Section-->
  <!-- Register Section -->
  <section class="book_section layout_padding">
    <div class="container" id="register">
      <div class="heading_container">
        <h2>
          Cadastre seu evento
        </h2>
      </div>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
              <div class="form_container">
                <span>Nome</span>
                <input type="text" class="form-control" formControlName="title"/>
                <span>Descrição</span>
                <input type="text" class="form-control" formControlName="description"/>
                <span>CEP</span>
                <input type="text" class="form-control" formControlName="cep"/>
                <span>Data de inicio</span>
                <input type="date" class="form-control" formControlName="startDate"/>
                <span>Data de termino</span>
                <input type="date" class="form-control" formControlName="endDate"/>
                <span>Horário de inicio</span>
                <input type="text" class="form-control" formControlName="startTime"/>
                <span>Horário de saída</span>
                <input type="text" class="form-control" formControlName="endTime"/>
              </div>
          </div>
          @if(form.value.cep != ''){
            <div class="col-md-6">
              <div class="form_container">
                <span>Número da rua</span>
                <input type="text" class="form-control" formControlName="numberStreet"/>
                <span>Rua</span>
                <input type="text" class="form-control" formControlName="street"/>
                <span>Cidade</span>
                <input type="text" class="form-control" formControlName="city"/>
                <span>Estado</span>
                <input type="text" class="form-control" formControlName="state"/>
              </div>
            </div>
          }
        </div>
      </form>
      <div class="btn-box">
        <button>
          Cadastre agora!
        </button>
      </div>
    </div>
  </section>
  <!-- /Register Section -->
  <!-- Footer -->
  <footer class="footer_section">
    <div class="footer-info">
      <p>
        &copy;  All Rights Reserved By Eventfy
      </p>
    </div>
  </footer>
