<div class="container" [class.active]="isActive">
    <div class="form-container sign-up">
        <form [formGroup]="form">
            <img style="width: 100px; height: 50px; object-fit: cover;" src="../../assets/images/eventfy.png" (click)="goToHome()"/>
            <input type="text" placeholder="Name" formControlName="name">
            <input type="email" placeholder="Email" formControlName="email">
            <input type="password" placeholder="Password" formControlName="password">
            <input type="password" placeholder="Confirm password" formControlName="confirmPassword">
            <input type="text" placeholder="CPF" mask="000.000.000-00" formControlName="cpf">
            <input type="text" placeholder="Cellphone" mask="(00) 00000 0000"formControlName="cellphone">
            <input type="date" placeholder="Birthday" formControlName="birthday">
            <button [class.disabled]="!(form.valid && isPasswordEqual)" (click)="onSignUp()" [disabled]="!(form.valid && isPasswordEqual)">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form>
            <img src="../../assets/images/eventfy.png" (click)="goToHome()" />
            <span>Use seu CPF e sua senha!</span>
            <input type="text" placeholder="cpf" [(ngModel)]="cpf" [ngModelOptions]="{ standalone: true }" mask="000.000.000-00">
            <input type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }"/>
            <a href="#">Esqueceu sua senha?</a>
            <button [class.disabled]="!(cpf && password)" (click)="onLogin()" [disabled]="!(cpf && password)">Sign In</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Bem-Vindo de volta!</h1>
                <p>Digite seus dados pessoais para usar todas as funcionalidades do site!</p>
                <button class="hidden" (click)="isActive = false">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Olá, Amigo!</h1>
                <p>Registre-se com seus dados pessoais para usar todas as funcionalidades do site!</p>
                <button class="hidden" (click)="isActive = true">Sign Up</button>
            </div>
        </div>
    </div>
</div>
